openapi: 3.0.3
info:
  title: PITCH Partner API
  version: 1.0.0
  description: Stable additive-only PITCH Partner API v1 contract. New integrations use X-Pitch-* HTTP headers; legacy X-SmartPA-* aliases remain accepted or emitted during the compatibility window. Breaking request, response, or security changes require a new API version.
servers:
  - url: https://pitch.knownsense.ai
    description: Production
security:
  - apiKeyAuth: []
  - bearerAuth: []
paths:
  /v1/tts/compose:
    post:
      operationId: composeTTS
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Compose TTS script
      description: Converts a business intent into reviewable speakable text and supported voice controls. The response includes validation issues and warnings so callers can approve text before synthesis. This non-idempotent composition request is not retried by the SDK.
      tags:
        - TTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSComposeRequest"
      responses:
        "200":
          description: TTS composition generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSComposeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: Composer request body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Prompt or generated text violates TTS content policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: Composition was unavailable or returned an invalid response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/generate:
    post:
      operationId: generateTTSPreview
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Generate TTS preview
      description: Synthesizes reviewed text into a temporary audio preview. Requires the tts:compose API-key scope. Character usage is billed and rate-limited through the same PITCH voice path used by audio-library saves.
      tags:
        - TTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSPreviewRequest"
      responses:
        "200":
          description: TTS preview generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSPreviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: TTS request body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: TTS text violates content policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/compose-batch:
    post:
      operationId: composeTTSBatch
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Compose multilingual TTS scripts
      description: Adapts one reviewed intent into speakable scripts for up to five languages. Each returned item must be reviewed independently before preview or save. This non-idempotent composition request is not retried by the SDK.
      tags:
        - TTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSBatchComposeRequest"
      responses:
        "200":
          description: Batch TTS composition generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSBatchComposeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: Batch composition body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: One or more requested scripts violate content policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/generate-batch:
    post:
      operationId: generateTTSPreviewBatch
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Generate multilingual TTS previews
      description: Synthesizes up to five reviewed scripts as billable previews. Per-item failures are returned alongside successful items; this non-idempotent request is not retried by the SDK.
      tags:
        - TTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSBatchPreviewRequest"
      responses:
        "200":
          description: Batch TTS previews generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSBatchPreviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: Batch preview body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: One or more preview items fail structured validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/pronunciation:
    get:
      operationId: getTTSPronunciation
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Get pronunciation preferences
      description: Returns customer-managed pronunciation terms, available templates, and enabled-term limits. The response omits internal synchronization details.
      tags:
        - TTS
      responses:
        "200":
          description: Pronunciation preferences and limits.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSPronunciationSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/pronunciation/terms:
    put:
      operationId: upsertTTSPronunciationTerm
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Add or update a pronunciation term
      description: Saves one customer-reviewed pronunciation term and returns the updated summary. This non-idempotent write is not retried by the SDK.
      tags:
        - TTS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSPronunciationTermRequest"
      responses:
        "200":
          description: Updated pronunciation summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSPronunciationSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      operationId: deleteTTSPronunciationTerm
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Delete a pronunciation term
      description: Deletes one term selected by exact language and word query values and returns the updated summary. This non-idempotent write is not retried by the SDK.
      tags:
        - TTS
      parameters:
        - name: language
          in: query
          required: true
          schema:
            type: string
        - name: word
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Updated pronunciation summary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSPronunciationSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/tts/pronunciation/templates/{industry}/apply:
    post:
      operationId: applyTTSPronunciationTemplate
      x-pitch-partner: true
      x-pitch-scope:
        - tts:compose
      x-pitch-idempotency: none
      summary: Apply an approved pronunciation template
      description: Applies an available template within the enabled-term limit and returns inserted and skipped counts. This non-idempotent write is not retried by the SDK.
      tags:
        - TTS
      parameters:
        - name: industry
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Updated pronunciation summary with apply counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSPronunciationApplyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/audio:
    get:
      operationId: listAudioAssets
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: List audio assets
      description: Lists customer-owned audio assets. Requires the audio:read API-key scope. Omit folder_id to list all assets, use folder_id=root for library-root assets, or pass a folder id for one folder.
      tags:
        - Audio
      parameters:
        - name: folder_id
          in: query
          schema:
            type: string
          description: Folder id to scope results, or root for the library root. Omit to list all assets.
        - name: search
          in: query
          schema:
            type: string
          description: Case-insensitive name search.
        - name: language
          in: query
          schema:
            type: string
        - name: source
          in: query
          schema:
            type: string
            enum:
              - upload
              - tts
              - recording
          description: Optional asset-origin filter.
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Audio assets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: uploadAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Upload audio asset
      description: Uploads one non-empty audio file of at most 25 MiB (26,214,400 bytes) and saves it as a customer-owned library asset. The complete multipart request is capped at 26 MiB. Requires the audio:write API-key scope. Metadata is provided as a JSON string in the metadata multipart field.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - metadata
              properties:
                file:
                  type: string
                  format: binary
                  description: Non-empty audio file, at most 25 MiB (26,214,400 bytes).
                metadata:
                  type: string
                  description: JSON string matching AudioUploadMetadata, including optional folder_id.
                  x-pitch-json-schema:
                    $ref: "#/components/schemas/AudioUploadMetadata"
      responses:
        "201":
          description: Audio asset uploaded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          description: File exceeds 25 MiB or the complete multipart request exceeds 26 MiB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/from-tts:
    post:
      operationId: createAudioFromTTS
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Save TTS audio asset
      description: Generates reviewed text as speech and saves it directly into the customer audio library, optionally inside a folder. Requires the audio:write API-key scope.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSSaveRequest"
      responses:
        "201":
          description: TTS audio asset created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          description: TTS body is too large.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/audio/folders:
    get:
      operationId: listAudioFolders
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: List audio folders
      description: Returns direct child folders under the requested parent plus breadcrumbs for the selected parent. Use parent_id=root or omit parent_id for root folders.
      tags:
        - Audio
      parameters:
        - name: parent_id
          in: query
          schema:
            type: string
            default: root
          description: Parent folder id, or root for top-level folders.
      responses:
        "200":
          description: Audio folder children and breadcrumbs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioFolderListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createAudioFolder
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Create audio folder
      description: Creates a customer audio-library folder. Sibling names are unique case-insensitively within the same parent. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAudioFolderRequest"
      responses:
        "201":
          description: Audio folder created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioFolder"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/folders/tree:
    get:
      operationId: listAudioFolderTree
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: List audio folder tree
      description: Returns up to 500 active folders for target pickers. Use search to find folders outside the first page when truncated is true.
      tags:
        - Audio
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Case-insensitive folder-name search across the tenant.
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
      responses:
        "200":
          description: Audio folder tree.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioFolderTreeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/folders/{folderId}:
    patch:
      operationId: renameAudioFolder
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Rename audio folder
      description: Renames an existing customer audio folder. Moving folders is not supported. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAudioFolderRequest"
      responses:
        "200":
          description: Audio folder renamed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioFolder"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteAudioFolder
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Delete audio folder
      description: Deletes an empty customer audio folder. Folders containing child folders or audio assets return 409. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      responses:
        "204":
          description: Audio folder deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/from-tts-batch:
    post:
      operationId: createAudioFromTTSBatch
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Save multilingual TTS assets
      description: Saves up to five billable audio assets and optionally one merged multilingual asset with a configurable silence gap. A 207 response reports partial success. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TTSBatchSaveRequest"
      responses:
        "201":
          description: Batch TTS assets created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSBatchSaveResponse"
        "207":
          description: Partial batch success with per-item errors.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TTSBatchSaveResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: Batch save body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: One or more items fail structured validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/audio/{id}/move:
    post:
      operationId: moveAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Move audio asset
      description: Changes only the folder reference for an audio asset; schedules and playback content are unchanged. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveAudioAssetRequest"
      responses:
        "200":
          description: Audio asset moved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/{id}/copy:
    post:
      operationId: copyAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Copy audio asset
      description: Creates a new library asset in the target folder with a new stable asset id while reusing the approved source audio. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyAudioAssetRequest"
      responses:
        "201":
          description: Audio asset copied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/{id}:
    get:
      operationId: getAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: Get audio asset
      description: Returns one customer audio asset by stable asset id.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Audio asset.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Update audio asset metadata
      description: Updates customer-facing metadata without replacing the approved audio. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAudioAssetRequest"
      responses:
        "200":
          description: Audio asset updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioAsset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteAudioAsset
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Delete audio asset
      description: Deletes an audio asset from the customer library. This non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Audio asset deleted.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/{id}/download:
    get:
      operationId: getAudioDownload
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: Get entitled audio download URL
      description: Returns a short-lived download URL for the active revision when audio download is enabled for the customer.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Short-lived audio download URL for the active revision.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioDownloadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/{id}/edit-context:
    get:
      operationId: getAudioTTSEditContext
      x-pitch-partner: true
      x-pitch-scope:
        - audio:read
      x-pitch-idempotency: none
      summary: Get generated-audio edit context
      description: Returns the reviewed text, language, active revision, editable controls, and usage impact for one generated audio asset.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Generated-audio edit context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTTSEditContext"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/audio/{id}/tts-revisions:
    post:
      operationId: createAudioTTSRevision
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Create generated-audio revision
      description: Synthesizes reviewed replacement text and either replaces the active revision behind the stable asset id or creates a deliberate copy. This billable non-idempotent write is not retried by the SDK.
      tags:
        - Audio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AudioTTSRevisionRequest"
      responses:
        "200":
          description: Generated-audio revision result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTTSRevisionResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          description: Revision request body exceeds the server cap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Reviewed text or controls fail structured validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/audio/bulk-upload:
    post:
      operationId: bulkUploadAudioAssets
      x-pitch-partner: true
      x-pitch-scope:
        - audio:write
      x-pitch-idempotency: none
      summary: Bulk upload audio assets
      description: Uploads one to five non-empty audio files in one bounded multipart request. Each file is capped at 25 MiB (26,214,400 bytes), aggregate raw file bytes are capped at 125 MiB, and the complete multipart request is capped at 126 MiB (132,120,576 bytes). A 207 response reports partial success by file index. This non-idempotent write is not retried by the SDK; inspect the library before repeating an ambiguous request.
      tags:
        - Audio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  minItems: 1
                  maxItems: 5
                  description: One to five non-empty audio files, each at most 25 MiB.
                  items:
                    type: string
                    format: binary
                metadata:
                  type: string
                  description: JSON string with optional defaults and per-file items, for example {"defaults":{"language":"hi","tags":["station"]},"items":[{"name":"Platform chime"}]}.
            encoding:
              files:
                style: form
                explode: true
      responses:
        "201":
          description: All files uploaded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkAudioUploadResponse"
        "207":
          description: Some files failed while others may have been uploaded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkAudioUploadResponse"
        "400":
          description: Invalid pagination cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidCursor:
                  value:
                    error:
                      code: invalid_cursor
                      message: Invalid pagination cursor
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: One file exceeds 25 MiB, aggregate raw file bytes exceed 125 MiB, or the complete multipart request exceeds 126 MiB.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          description: Every file failed before an audio asset could be created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkAudioUploadResponse"
  /v1/devices:
    get:
      operationId: listDevices
      x-pitch-partner: true
      x-pitch-scope:
        - devices:read
      x-pitch-idempotency: none
      summary: List devices and authoritative audio outputs
      description: Requires access token or API key scope devices:read. Results are cursor paginated and may be filtered by status, group_id, and search.
      tags:
        - Devices
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - online
              - offline
              - playing
        - name: group_id
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: output_id
          in: query
          schema:
            type: string
          description: Keep devices exposing this normalized output slot.
        - name: output_available
          in: query
          schema:
            type: boolean
          description: Keep devices with a matching currently available output.
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        "200":
          description: Device page.
          content:
            application/json:
              schema:
                type: object
                required:
                  - devices
                  - total
                  - cursor
                properties:
                  devices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
                  total:
                    type: integer
                  cursor:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/targets/preflight:
    post:
      operationId: preflightTargets
      x-pitch-partner: true
      x-pitch-scope:
        - devices:read
      x-pitch-idempotency: none
      summary: Check target structure, readiness, freshness, and concurrency facts
      description: Side-effect-free; it never reserves a playback claim. Requires devices:read. A syntactically valid blocked request returns 200 with allowed false.
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TargetPreflightRequest"
      responses:
        "200":
          description: Per-target preflight decision.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TargetPreflightResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/zones:
    get:
      operationId: listOutputZones
      x-pitch-partner: true
      x-pitch-scope:
        - zones:read
      x-pitch-idempotency: none
      summary: List output zones
      description: Requires zones:read. Members are stable-sorted explicit device/output pairs.
      tags:
        - Zones
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Zone page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZoneList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      operationId: createOutputZone
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      summary: Create a versioned output zone
      description: Requires zones:write. Every member must explicitly include output_id.
      tags:
        - Zones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOutputZoneRequest"
      responses:
        "201":
          description: Created zone
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZone"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Active name conflict.
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/zones/{zoneId}:
    get:
      operationId: getOutputZone
      x-pitch-partner: true
      x-pitch-scope:
        - zones:read
      x-pitch-idempotency: none
      tags:
        - Zones
      responses:
        "200":
          description: Zone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Zone not found.
        "429":
          $ref: "#/components/responses/RateLimited"
    patch:
      operationId: updateOutputZone
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOutputZoneRequest"
      responses:
        "200":
          description: Updated zone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "412":
          description: Version conflict.
        "428":
          description: If-Match required.
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      operationId: deleteOutputZone
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Zone soft-deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Zone is in use.
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/zones/{zoneId}/members:
    put:
      operationId: replaceOutputZoneMembers
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: zoneId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - members
              properties:
                members:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    $ref: "#/components/schemas/OutputZoneMember"
      responses:
        "200":
          description: Updated zone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZone"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "412":
          description: Version conflict.
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/zones/{zoneId}/preflight:
    post:
      operationId: preflightOutputZone
      x-pitch-partner: true
      x-pitch-scope:
        - zones:read
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: zoneId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OutputZonePreflightRequest"
      responses:
        "200":
          description: Side-effect-free readiness receipt
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputZonePreflightResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/target-bindings/{namespace}/{externalId}:
    put:
      operationId: putTargetBinding
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutTargetBindingRequest"
      responses:
        "200":
          description: Binding
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TargetBinding"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          description: Expected zone version is stale.
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      operationId: getTargetBinding
      x-pitch-partner: true
      x-pitch-scope:
        - zones:read
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      responses:
        "200":
          description: Binding
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TargetBinding"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Not found.
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      operationId: deleteTargetBinding
      x-pitch-partner: true
      x-pitch-scope:
        - zones:write
      x-pitch-idempotency: none
      tags:
        - Zones
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: externalId
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      responses:
        "204":
          description: Binding soft-deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/logs/deliveries/trace/{correlationId}:
    get:
      operationId: getDeliveryTrace
      x-pitch-partner: true
      x-pitch-scope:
        - logs:read
      x-pitch-idempotency: none
      summary: Get output-aware delivery lifecycle trace
      description: Requires logs:read and returns routed, received, started, terminal, failure, and replay events in time order.
      tags:
        - Logs
      parameters:
        - name: correlationId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        "200":
          description: Correlated delivery events, including deviceId, outputId, msgId, type, detail, and timestamp.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryTrace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/devices/{deviceId}:
    get:
      operationId: getDevice
      x-pitch-partner: true
      x-pitch-scope:
        - devices:read
      x-pitch-idempotency: none
      summary: Get device
      description: Returns one customer-scoped device snapshot from the durable registry.
      tags:
        - Devices
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Device found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/logs/deliveries:
    get:
      operationId: listDeliveryLogs
      x-pitch-partner: true
      x-pitch-scope:
        - logs:read
      x-pitch-idempotency: none
      summary: List announcement delivery timelines
      description: Returns customer-scoped proof-of-play delivery timelines ordered newest first. Raw delivery history is queryable for up to seven days; older rows are deleted.
      tags:
        - Logs
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: announcement_id
          in: query
          schema:
            type: string
        - name: device_id
          in: query
          schema:
            type: string
        - name: output_id
          in: query
          description: Normalized audio output lane; omitted means all lanes.
          schema:
            type: string
        - name: correlation_id
          in: query
          description: Firing or request correlation identifier.
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - played
              - failed
              - pending
              - published
              - received
              - started
      responses:
        "200":
          description: Delivery timelines.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryTimelineListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks:
    get:
      operationId: listWebhooks
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: List webhooks
      description: Lists customer-owned webhook endpoints. Requires a PITCH access token for an owner or admin; partner API keys cannot manage webhook configuration.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Webhook endpoints.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createWebhook
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Create webhook
      description: Creates a customer-owned webhook endpoint for an owner or admin and returns the signing secret once. Production URLs must use public HTTPS.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Webhook created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/events:
    post:
      operationId: publishEvent
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: required
      summary: Publish a partner business event
      description: Publishes a meaningful business event for event-driven announcements. Partners should convert GPS or sensor streams into business events before calling this API; PITCH does not accept raw GPS traces here.
      tags:
        - Events
      security:
        - apiKeyAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Client-generated idempotency key for safely retrying event publication. SDKs should use event_id when supplied.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerEventPublishRequest"
            examples:
              busStopApproaching:
                summary: Bus approaching a stop
                value:
                  event_type: bus.stop.approaching
                  event_id: bus-R12-MG_ROAD-20260710T083000Z
                  occurred_at: 2026-07-10T08:30:00Z
                  data:
                    route_id: R12
                    stop_id: MG_ROAD
                    direction: northbound
                  interrupt_active: false
      responses:
        "200":
          description: Event processed for matching announcements.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerEventPublishResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/event-occurrences:
    get:
      operationId: listEventOccurrences
      x-pitch-partner: true
      x-pitch-scope:
        - logs:read
      x-pitch-idempotency: none
      summary: List durable partner event occurrences
      description: Returns customer-scoped event outcomes. Raw GPS traces are not accepted or returned.
      tags:
        - Events
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: event_type
          in: query
          schema:
            type: string
        - name: event_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Durable event occurrences.
          content:
            application/json:
              schema:
                type: object
                required:
                  - occurrences
                properties:
                  occurrences:
                    type: array
                    items:
                      $ref: "#/components/schemas/PartnerEventOccurrence"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/event-occurrences/{occurrenceId}:
    get:
      operationId: getEventOccurrence
      x-pitch-partner: true
      x-pitch-scope:
        - logs:read
      x-pitch-idempotency: none
      summary: Get a durable partner event occurrence
      tags:
        - Events
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: occurrenceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Durable event occurrence and per-output targets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerEventOccurrence"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/webhooks/ingest:
    post:
      operationId: ingestLegacyWebhookEvent
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: optional
      deprecated: true
      summary: Ingest legacy partner event
      description: Legacy alias for partner event ingestion. New integrations should use POST /v1/events with event_type.
      tags:
        - Events
      security:
        - apiKeyAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 1
          description: Client-generated idempotency key for safely retrying legacy event ingestion. Omitting it is supported for compatibility but is unsafe to replay.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LegacyIngestEventRequest"
      responses:
        "200":
          description: Legacy event ingested.
          headers:
            X-Pitch-Deprecated:
              schema:
                type: string
              description: Identifies the supported replacement, POST /v1/events.
            X-SmartPA-Deprecated:
              schema:
                type: string
              deprecated: true
              description: Legacy alias for X-Pitch-Deprecated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyIngestEventResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/webhooks/{id}:
    patch:
      operationId: updateWebhook
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Update webhook
      description: Updates webhook URL or subscribed event types. Requires an owner or admin PITCH access token.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "200":
          description: Webhook updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteWebhook
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Delete webhook
      description: Soft-deletes a customer-owned webhook endpoint. Requires an owner or admin PITCH access token.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Webhook deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      x-pitch-partner: true
      x-pitch-scope:
        - logs:read
      x-pitch-idempotency: none
      summary: List webhook deliveries
      description: Lists delivery attempts for one webhook. Console users can read this with PITCH access token auth; partner API keys need logs:read.
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Webhook delivery attempts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveriesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks/{id}/rotate-secret:
    post:
      operationId: rotateWebhookSecret
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Rotate webhook signing secret
      description: Owner/admin-only rotation. Returns the new secret once and switches signing immediately; there is no dual-secret grace period.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Secret rotated and returned once.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateWebhookSecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/webhooks/{id}/test:
    post:
      operationId: testWebhook
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Send a test webhook delivery
      description: Owner/admin-only connectivity test. The stored signing secret and transport URL are never returned.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Test delivery result.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/schedules:
    get:
      operationId: listSchedules
      x-pitch-partner: true
      x-pitch-scope:
        - announce:read
      x-pitch-idempotency: none
      summary: List schedule manager rows
      description: Returns cursor-paginated scheduled, repetitive, chained, and cron-backed dynamic announcements with bounded server-side fire-time previews. This lets the console render schedule views without polling each announcement individually.
      tags:
        - Schedules
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - scheduled
              - repetitive
              - chained
              - dynamic
        - name: status
          in: query
          schema:
            type: string
            default: active
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: preview_limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 3
        - name: now
          in: query
          schema:
            type: string
            format: date-time
          description: Optional reference time for deterministic previews and tests. Defaults to server time.
      responses:
        "200":
          description: Schedule manager rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/schedules/preview:
    post:
      operationId: previewSchedule
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Preview schedule trigger fire times
      description: Validates scheduled, repetitive, and cron-backed dynamic trigger configs and returns a bounded list of upcoming fire times without creating an announcement.
      tags:
        - Schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SchedulePreviewRequest"
      responses:
        "200":
          description: Schedule preview.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchedulePreviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/schedules/{announcementId}:
    patch:
      operationId: updateSchedule
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Update a schedule definition
      description: Updates trigger, content, targeting, and priority. Active durable retargets transactionally enqueue retained catalog sync for both removed and added devices. this_occurrence cannot retarget or reprioritize; this_and_following applies those changes only to the new split definition.
      tags:
        - Schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScheduleRequest"
      responses:
        "200":
          description: Updated schedule row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleListItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      operationId: deleteSchedule
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Delete a schedule
      description: Schedule-friendly alias for deleting a schedule-managed announcement. Audio assets remain in the library; active durable schedules enqueue device schedule-sync so retained device schedules remove the entry.
      tags:
        - Schedules
      responses:
        "204":
          description: Schedule deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/schedules/{announcementId}/status:
    patch:
      operationId: updateScheduleStatus
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Pause or resume a schedule
      description: Schedule-safe status transition for active and paused schedule-managed announcements. Durable schedules enqueue retained device schedule-sync so devices apply pause/resume changes.
      tags:
        - Schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScheduleStatusRequest"
      responses:
        "200":
          description: Updated schedule status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/announce:
    post:
      operationId: createInstantAnnouncement
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: required
      summary: Queue an instant announcement
      description: Queues an immediate announcement for one device target shape. The request accepts exactly one of device_id, device_ids, targets, or group_id; group_id is currently rejected by the PITCH service with invalid_target. Missing output_id defaults to main. Non-main outputs require the device to report that output as enabled and ready. Independent playback describes cross-output overlap and is not required for single-output targeting.
      tags:
        - Announcements
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Client-generated idempotency key for safely retrying instant announcement creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantAnnouncementRequest"
      responses:
        "202":
          description: Instant announcement queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantAnnouncementResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/announcements:
    get:
      operationId: listAnnouncements
      x-pitch-partner: true
      x-pitch-scope:
        - announce:read
      x-pitch-idempotency: none
      summary: List announcements
      description: Returns customer-scoped announcements with optional status filtering and cursor pagination.
      tags:
        - Announcements
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
          description: Optional announcement status filter.
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
      responses:
        "200":
          description: Announcement list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnnouncementListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      operationId: createAnnouncement
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: required
      summary: Create an announcement
      description: Creates a durable announcement definition for supported trigger types.
      tags:
        - Announcements
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Client-generated idempotency key for safely retrying announcement creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnouncementCreateRequest"
            examples:
              eventDrivenBusStopApproach:
                summary: Create an announcement triggered by a bus business event
                value:
                  type: event_driven
                  name: Route 12 stop approach
                  targeting_config:
                    type: device
                    device_ids:
                      - spa_bus_12
                  content_config:
                    type: asset
                    asset_id: asset_stop_approach
                  trigger_config:
                    type: event_driven
                    webhook_event: bus.stop.approaching
                  priority: 2
      responses:
        "201":
          description: Announcement created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Announcement"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/announcements/{announcementId}:
    get:
      operationId: getAnnouncement
      x-pitch-partner: true
      x-pitch-scope:
        - announce:read
      x-pitch-idempotency: none
      summary: Get an announcement
      description: Returns one customer-scoped announcement by identifier.
      tags:
        - Announcements
      parameters:
        - name: announcementId
          in: path
          required: true
          schema:
            type: string
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Announcement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Announcement"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      operationId: deleteAnnouncement
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Delete an announcement
      description: Soft-deletes an announcement, removes it from the online scheduler when configured, and emits device schedule-sync events for explicit device targets.
      tags:
        - Announcements
      parameters:
        - name: announcementId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Announcement deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          description: Schedule sync is unavailable for a schedule-capable announcement delete.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/announcements/{announcementId}/status:
    patch:
      operationId: updateAnnouncementStatus
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Update announcement status
      description: Transitions an announcement to a new status. Transitioning to active runs the same activation decision checks used by the activate endpoint.
      tags:
        - Announcements
      parameters:
        - name: announcementId
          in: path
          required: true
          schema:
            type: string
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnouncementStatusRequest"
      responses:
        "200":
          description: Announcement status updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                  decision:
                    $ref: "#/components/schemas/DecisionPreviewSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/announcements/{announcementId}/activate:
    post:
      operationId: activateAnnouncement
      x-pitch-partner: true
      x-pitch-scope:
        - announce:write
      x-pitch-idempotency: none
      summary: Activate an announcement
      description: Activates a draft or pending-review announcement and schedules durable trigger types when scheduling dependencies are configured.
      tags:
        - Announcements
      parameters:
        - name: announcementId
          in: path
          required: true
          schema:
            type: string
      security:
        - apiKeyAuth: []
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnouncementActivationRequest"
      responses:
        "200":
          description: Announcement activated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    enum:
                      - active
                  decision:
                    $ref: "#/components/schemas/DecisionPreviewSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/output-controls:
    post:
      operationId: createOutputControl
      x-pitch-partner: true
      x-pitch-scope:
        - outputs:control
      x-pitch-idempotency: required
      summary: Create an acknowledged output safety operation
      description: Requires outputs:control. Force, drain, all-output, and emergency playback additionally require emergency:write for API keys or an owner/admin user. Publication is nonterminal; inspect the operation until device ACK or playback proof completes it.
      tags:
        - Output Controls
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOutputControlRequest"
      responses:
        "202":
          description: Accepted and published, but not necessarily acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputControlOperation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Idempotency
          target freshness: null
          or control-state conflict.: null
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      operationId: listOutputControls
      x-pitch-partner: true
      x-pitch-scope:
        - outputs:read
      x-pitch-idempotency: none
      summary: List output controls
      tags:
        - Output Controls
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
      responses:
        "200":
          description: Tenant-scoped controls and target results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputControlList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/output-controls/{controlId}:
    get:
      operationId: getOutputControl
      x-pitch-partner: true
      x-pitch-scope:
        - outputs:read
      x-pitch-idempotency: none
      summary: Get an output control and all snapshotted target results
      tags:
        - Output Controls
      parameters:
        - name: controlId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Output control detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutputControlOperation"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/speech-recipes:
    get:
      operationId: listSpeechRecipes
      x-pitch-partner: true
      x-pitch-scope: [tts:compose]
      x-pitch-idempotency: none
      summary: List immutable complete-utterance recipes
      description: Lists reviewed deterministic localized sentence recipes. Recipes synthesize complete utterances; spoken fragments are not a normal delivery unit.
      tags: [Speech]
      responses:
        "200": {description: Immutable recipe versions., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRecipeListResponse"}}}}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /v1/speech-lexicon/{namespace}/{externalId}/{locale}:
    get:
      operationId: getSpeechLexicon
      x-pitch-partner: true
      x-pitch-scope: [tts:compose]
      x-pitch-idempotency: none
      summary: Resolve a place spoken form
      tags: [Speech]
      parameters:
        - {name: namespace, in: path, required: true, schema: {type: string}}
        - {name: externalId, in: path, required: true, schema: {type: string}}
        - {name: locale, in: path, required: true, schema: {type: string}, description: Normalized BCP-47 locale.}
      responses:
        "200": {description: Resolved tenant override or approved platform entry., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechLexiconResolution"}}}}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/RateLimited"}
    put:
      operationId: putSpeechLexiconOverride
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Create an immutable tenant spoken-form revision
      tags: [Speech]
      parameters:
        - {name: namespace, in: path, required: true, schema: {type: string}}
        - {name: externalId, in: path, required: true, schema: {type: string}}
        - {name: locale, in: path, required: true, schema: {type: string}, description: Normalized BCP-47 locale.}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/SpeechLexiconOverrideRequest"}}}}
      responses:
        "200": {description: Tenant override revision., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechLexiconEntry"}}}}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "429": {$ref: "#/components/responses/RateLimited"}
    delete:
      operationId: deleteSpeechLexiconOverride
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Revoke the active tenant spoken-form override
      tags: [Speech]
      parameters:
        - {name: namespace, in: path, required: true, schema: {type: string}}
        - {name: externalId, in: path, required: true, schema: {type: string}}
        - {name: locale, in: path, required: true, schema: {type: string}, description: Normalized BCP-47 locale.}
      responses:
        "204": {description: Override revoked; resolution falls back to the approved platform entry.}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /v1/speech-renders/resolve:
    post:
      operationId: resolveSpeechRender
      x-pitch-partner: true
      x-pitch-scope: [audio:write]
      x-pitch-idempotency: required
      summary: Resolve or start an immutable complete-utterance render
      description: Scope is server-derived. Platform catalog access additionally requires the trusted Mobility workload, immutable use context, territory, active rights, kill switch, and exact audio review. SDKs never retry this operation automatically.
      tags: [Speech]
      parameters:
        - {name: X-Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 1, maxLength: 200}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenderResolveRequest"}}}}
      responses:
        "200": {description: Compatible reviewed rendition and customer-owned managed asset found., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenderOperation"}}}}
        "202": {description: Durable generation admitted., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenderOperation"}}}}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/RateLimited"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
  /v1/speech-renders/{operationId}:
    get:
      operationId: getSpeechRenderOperation
      x-pitch-partner: true
      x-pitch-scope: [audio:write]
      x-pitch-idempotency: none
      summary: Poll a durable render operation
      description: Every response includes done. provider_outcome_unknown is terminal attention_required so clients stop polling and avoid an unaudited duplicate charge.
      tags: [Speech]
      parameters:
        - {name: operationId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        "200": {description: Current operation state., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenderOperation"}}}}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /v1/speech-renditions/{renditionId}/acknowledge:
    post:
      operationId: acknowledgeSpeechRendition
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Acknowledge the exact heard rendition for this tenant
      tags: [Speech]
      parameters:
        - {name: renditionId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        "200": {description: Exact checksum acknowledged., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenditionReview"}}}}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /v1/speech-renditions/{renditionId}/acknowledgement:
    delete:
      operationId: revokeSpeechRenditionAcknowledgement
      x-pitch-partner: true
      x-pitch-scope: []
      x-pitch-idempotency: none
      summary: Revoke an exact tenant acknowledgement
      description: Dependent managed definitions reject new event ingest before revocation returns; accepted proof remains immutable.
      tags: [Speech]
      parameters:
        - {name: renditionId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        "200": {description: Acknowledgement revoked., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechRenditionReview"}}}}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "429": {$ref: "#/components/responses/RateLimited"}
  /v1/speech-delivery-assets/resolve:
    post:
      operationId: resolveSpeechDeliveryAsset
      x-pitch-partner: true
      x-pitch-scope: [audio:write]
      x-pitch-idempotency: required
      summary: Resolve a managed immutable delivery asset
      description: Accepts ordered reviewed complete-utterance renditions and optional approved non-speech cues. Fallback, expiring, unsafe-script, editable, URL, and speech-fragment inputs are rejected.
      tags: [Speech]
      parameters:
        - {name: X-Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 1, maxLength: 200}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: "#/components/schemas/SpeechDeliveryResolveRequest"}}}}
      responses:
        "200": {description: Deterministic managed delivery asset., content: {application/json: {schema: {$ref: "#/components/schemas/SpeechDeliveryAsset"}}}}
        "400": {$ref: "#/components/responses/BadRequest"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/RateLimited"}
        "503": {$ref: "#/components/responses/ServiceUnavailable"}
components:
[...]
